@{
    ViewBag.Title = "Home Troca Senha";
}

<link rel="stylesheet" href="~/index.css">

<div class="headerColumn">
    <div class="col-md-24 displayHeader">
        <div class="col-md-7 logo">
            <img id="imgLogoTenda" src="~/fonts/logo_tenda.png" />
        </div>
        <div class="col-md-8 col-md-offset-4 boxTextHeader">
            <img id="imgCad" src="~/fonts/icon_lock.png" />
            <text class="textHeader">Portal de troca de senha</text>
        </div>
    </div>
</div>

<div class="col-md-24 boxContent">
    <div class="styleBackgorund">
        <img class="styleImgEmail" src="~/fonts/mail.png" />
        <text class="textStyleBox">E-mail</text>
        <img class="imagemStyle" src="~/fonts/globe.png" />
        <text class="textStyleBoxRede">Rede</text>
        <img class="imagemStyleTel" src="~/fonts/logo_tenda(1).png" />
        <text class="textStyleBoxTel">SUAT</text>
        <text class="textFirstBox">
            Se você precisar trocar uma senha de Rede, E-mail ou SUAT, clique no botão para acessar o portal.
        </text>
        <button type="button" class="btn btnFirstBox"><text class="textBtnFirst">ACESSAR PORTAL</text></button>
    </div>
    <div class="btnSecondBox">
        <img id="imgSAP" src="~/fonts/bitmap.png" />
        <text id="textSecondBox">
            Se você precisar trocar uma senha de usuário SAP, clique no botão para acessar o portal SAP.
        </text>
        <button type="button" id="styleBtnSecond" class="btn"><text class="textBtnFirst">ACESSAR PORTAL SAP</text></button>
    </div>
</div>

<div class="divMsgTel">
    <center>
        <text id="textMsgTel">Ainda tem dúvidas? Fale com o Service Desk:</text>
        <img id="imgTel" src="~/fonts/phone.png" />
        <text id="textNumber">3111- 2555</text>
    </center>
</div>
