div , span{
	float:left;
	margin: 0;
	padding: 0;
}

.container-fluid{
	padding-right: 0;
    padding-left: 0;
	
}

/* .background-quadros-color{
	background-color: #f2f2f2;
    padding: 0 0 17% 0;
	margin-top: 3%;
	position: absolute
} */

text{
	color: white;
	font-size: 1.3em;
	font-weight: bold;
}

.header{
	padding: 1%;
	background-image: linear-gradient(#fcfcfc, #f8f8f8);
	height: max-content;
	border-bottom-style: solid;
    border-bottom-color: #ed1c24;
}

.logo{
	height: 100%;
}

.logo img{
	/* margin-top:5%; */
	margin-left: 10%;
}

.trocar-senha{
	display: flex;
    margin-top: 2%;
    /* flex-direction: column-reverse; */
    /* flex-wrap: inherit; */
    justify-content: center;
	height: 100%;
}

.background-quadros{
	margin-top: 4%;
}

.trocar-senha span{
	/* margin-top:7%; */
	/* height: 20%; */
	/* position: relative; */
	display: flex;
	/* text-align: bottom; */
}

.trocar-senha span > *{
	align-self: flex-start;
}

.trocar-senha span p {
	font-size: 1.5em;
	margin-left: 3%;
	font-weight: bold;
	white-space: nowrap;
}

.area-btn-portal{
	text-align:center;
}

.area-segundo-quadro span{
	position: relative;
	text-align: bottom;
	text-align:center;
}

.area-segundo-quadro span img{
	margin-top: 7%;
}

.area-quadro{
	border: groove;
    border-radius: 2em;
}

.area-quadro span button{
	transform: translateY(19px);
	background-image: linear-gradient(-90deg, #DF0101, #F78181);
	border-radius: 5em;
	width: 25vw;
} 

.area-quadro span{
	margin-top:7%;
	position: relative;
	text-align: bottom;
	text-align:center;
	font-size: 1.5em;
}

.area-quadro span p{
	font-size: 1.1em;
}

.area-segundo-quadro{
	border: groove;
    border-radius: 2em;	
}

.area-segundo-quadro span{
	align-self: auto;
	font-size: 1.5em;
}

.area-segundo-quadro span button{
	transform: translateY(59px);
	background-image: linear-gradient(-90deg, #DF0101, #F78181);
	border-radius: 5em;
	width: 25vw;
}

body{
	border-bottom-style: solid;
    border-bottom-color: red;
    border-bottom-width: 7px;
}

.area-segundo-quadro span:nth-of-type(2n){
	margin-top: 13%;
}


.area-quadro span p{
	align-self: auto;
	font-size: 1.1em;
}

.area-quadro span:first-of-type{
	margin-top:8%;
}

.msg-duvida span{
    /* margin-top: 2%; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: inherit; */
    justify-content: center;
}

.msg-duvida{
	margin-top: 2%;
}

.msg-duvida span:first-of-type{
	font-size: 1.5em;
	text-align: -webkit-right;
}

.msg-duvida span:nth-of-type(2n){
	font-size: 1.5em;
	text-align: -webkit-left;
	display: -webkit-inline-box;
}

@media screen and (max-width: 991px){
	.area-quadro span img{
		height: 4em;
	}

	.msg-duvida span:first-of-type{
		text-align: -webkit-center;	
	}


	.msg-duvida{
		margin-left: 0 !important;
	}

	.msg-duvida span {
		text-align: -webkit-center;
	}

	.trocar-senha span img{
		margin-top: -3%;
	}	

	.msg-duvida span:nth-of-type(2n) {
		display: flex;
    	text-align: -webkit-center;
	}

	body{
		border-bottom-style: none;
	}

	.logo img{
		margin-left: 65%;
		height: 6em;
	}
	.area-quadro{
		margin-top: 10%;
	}

	.area-quadro span button {
		width: 60vw;
	}

	.area-segundo-quadro span button{
		width: 60vw;
	}

	html{
	border-bottom-style: solid;
    border-bottom-color: red;
    border-bottom-width: 7px;
	}

	.trocar-senha span{
		margin-top: 7%;
	}

	.trocar-senha span p{
		margin-left: -48%;
		margin-top: 7%;
	}	

	.trocar-senha {
		position: absolute;
		margin-top: 13%;
		margin-left: 39%;
	}

	.area-quadro span p {
		font-size: 1.5em;
	}

	.area-segundo-quadro{
		margin-top: 5%;
	}

	.area-quadro span:nth-of-type(4n){
		font-size: 2em;
	}
	
	.area-segundo-quadro span img{
		height: 5em;
	}

	.area-segundo-quadro span{
		font-size: 2em;
	}

	.area-segundo-quadro span:nth-of-type(2n) {
		margin-top: 7.5%;
	}

	.msg-duvida span{
		/* display: flex; */
		font-size: 2em !important;
	}

	.msg-duvida span img{
		margin-right: 1%;
	}

	.area-segundo-quadro span button {
		transform: translateY(20px);
	}
}

@media screen and (min-width: 992px) and (max-width: 1047px){
	.area-segundo-quadro span button {
		transform: translateY(88px);
	}
}

@media screen and (max-width: 1063px) and (min-width: 1047px){
	.area-segundo-quadro span button {
		transform: translateY(125px);
	}
}

@media screen and (max-width: 1085px) and (min-width: 1064px) {
	.area-segundo-quadro span button {
		transform: translateY(94px);
	}
}

@media screen and (max-width: 1310px) and (min-width: 1257px) {
	.area-segundo-quadro span button {
		transform: translateY(94px);
	}
}

@media screen and (max-width: 1822px) and (min-width: 1728px) {
	.area-segundo-quadro span button {
		transform: translateY(94px);
	}
}

/* @media screen and (max-width: 2000px) and (min-width: 600px) and (-webkit-device-pixel-ratio: 2) {
	.area-quadro{
		display: none
	}
} */

@media only screen and (max-width: 1080px) and (orientation : landscape) {
	.area-quadro{
		max-width: 44.333333%;
	}

	.area-segundo-quadro{
		max-width: 44.333333%;
		max-height: 92%;
		margin-top: 10%;
	}

	.area-quadro span button {
		width: 33vw;
	}

	.area-segundo-quadro span button {
		width: 33vw;
	}

	.area-quadro span img {
		height: 2em;
	}

	.area-quadro span p {
		font-size: 1em;
	}

	.area-quadro span:nth-of-type(4n) {
		font-size: 1.5em;
	}

	.area-segundo-quadro span button {
		transform: translateY(54px);
	}

	.area-segundo-quadro span {
		font-size: 1.5em;
	}

	.area-segundo-quadro span img {
		height: 4em;
	}

	.logo img {
		margin-left: 6%;
		height: 6em;
	}


}


